@model AdoptaUnaPatita.DataAccess.MascotaSolicitud

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MascotaSolicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mascota.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitud.Numero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
